.songItem{
    display: flex;
    justify-content: space-between;
}

.point{
    cursor: pointer;
}

.title{
    display: flex;
    justify-content: center;
    font-family: serif;
}

.posi{
    display: flex;
    justify-content: space-between;
}